<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/styles.css">
	<title>Unidade do Cadastro | REPERCUSSÃO</title>
</head>
<body>    

	<div class="d-flex" id="wrapper">
		<!-- Sidebar-->
		<div class="border-end bg-white" id="sidebar-wrapper">
			<div class="sidebar-heading border-bottom bg-light">Cadastro TSEE</div>
			<div class="list-group list-group-flush">
				<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Repercussão</a>
				<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">CadÚnico</a>
				<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">BPC</a>
			</div>
		</div>

		<!-- Page content wrapper-->
		<div id="page-content-wrapper">

			<!-- Top navigation-->
			<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<div class="container-fluid">
					<button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
							<li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="#!">Action</a>
									<a class="dropdown-item" href="#!">Another action</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#!">Something else here</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<!-- Page content-->
			<div class="container-fluid">
				<h1 class="mt-4">Lista de Repercussão</h1>				

				<!-- DataTales Example -->
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<!-- <h6 class="m-0 font-weight-bold text-primary">Funcionários ativos</h6> -->
						<div>
							<h6>Registros de retirada </h6>
							<h6 onclick="sumValues()"> {{ sumSalary }}</h6>

              <div class="search">
                <form action="/busca" method="get">
                  <input
                    type="text" 
                    name="filter" 
                    placeholder="Buscar uma receita"
                    {% if search.term %}
                      value={{search.term}}
                    {% endif %}
                  >
                  {# filter #}
                  <button type="submit">Buscar</button>
                </form>
              </div>

						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">              
							<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
								<thead class="table-thead-home">
									<tr>
										<th>Referencia</th>
										<th>CFAM</th>
										<th>NB</th>
										<th>Instalação</th>
										<th>Especie</th>
										<th>Motivo Validação</th>
										<th>Contrato</th>
                    <th>Conta Contrato</th>
                    <th>Situação</th>
                    <th>Ação</th>
									</tr>
								</thead>
                
								<tbody class="tbody-func">
									{% for 1repercussao in repercussao %}
										<tr class="employments" id="{{repercussao.id}}">
											<td>{{1repercussao.referencia}}</td>
											<td>{{1repercussao.cod_familiar_fam}}</td>
											<td>{{1repercussao.nb}}</td>
                      <td>{{1repercussao.cod_uc}}</td>
											<td>{{1repercussao.especie}}</td>
                      <td>{{1repercussao.motivo_validacao}}</td>
                      <td>{{1repercussao.CONTRATO}}</td>
                      <td>{{1repercussao.CONTA_CONTRATO}}</td>
                      <td>{{1repercussao.situacao}}</td>
                      <td>{{1repercussao.ACAO}}</td>
											<!-- <td id="salario">{{1repercussao.salario}}</td> -->
											<!-- <td><a class="ver-detalhes" href="/cadastros/funcionarios/show-funcionario/{{funcionario.id}}">Editar</a></td> -->
										</tr>
									{% endfor %}
								</tbody>
          		</table>
        		</div>
      		</div>
    		</div>

        <p>
          <form onsubmit="salvar" action="">
            <input type="text" id="nome" name="" placeholder="Nome"><br>
            <input type="password" id="senha" name="" placeholder="Senha"><br>
            <input type="submit" value="Enviar">
          </form>
        </p>
			</div>
		</div>
	</div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

</body>
</html>